* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePage-offset {
  margin-top: -4rem !important;
}


.list-element:hover {
  background-color: #2469DA;
  color: #fff;
}

.select-badges:hover {
  background-color: #DC3545 !important;
  border-color: #DC3545 !important;
}

.select-bar-icons {
  color: #777;
}

.select-bar-icons:hover {
  color: black
}

.top-105{
  top:calc(100% + .25em)
}
.input-divider{
  width: 0.05em;
  background-color: #777;
  align-self: stretch;
  margin: 0 0.5em;
}